.App {
  text-align: center;
}

 *{
  padding: 0px;
  margin: 0px;
 }
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.header{
  background-color: black;
  display: block;
  height: 50px;
}

.header > h2{
  display:inline-block;
  color: white;
  margin-left: 15px;
}

.header > .btn {
  float: right;
  margin-top: 9px;
  margin-right: 20px;
  width: 120px;
  font-size: 13px;
  height: 28px;
  background-color: #2563eb;
}




@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.upload_main{
 margin-bottom: 550px;
 margin-left: -100px;
}

.upload_main > table > tbody:hover{
  background-color: #eee;
  cursor: pointer;
}

.upload_main > table > tbody > tr > td> button{
background-color: #2563eb;
border: none;
margin-left: 9px;
font-size: 19px;
border-radius: 6px;
color: #ffffff;
padding: 5px 15px;
cursor: pointer;
}

.upload_main > table > tbody > tr > td {
  font-size: 18px;
  margin-left: -10px;
}
.upload_main > table > thead > tr > td {
  font-size: 20px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
